body {
    margin: 0px;
    padding: 0px;
    font-family: Hero;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1F2937;
}

.logo {
    display: flex;
    height: 50px;
    margin: 0px 20px;
}

.nav-links {
    display: flex;
}

.nav-links>ul {
    list-style-type: none;
    padding: 0px;
}

.nav-item>a {
    text-decoration: none;
    color: white;
}

.nav-links>ul>li {
    display: inline;
    margin-left: 15px;
    font-size: 18px;
}

.section-1 {
    background-color: #1F2937;
    color: #ffffff;
    padding: 100px 40px;
    display: flex;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
}

.sub-main-text {
    font-size: 18px;
    line-height: 0.8;
    color: #E5E7EB;
}


.des {
    display: flex;
    flex-direction: column;
}

.des-img {
    display: flex;
    width: 600px;
    margin: 0px 25px;
}

